.Form {
    border: 2px #FFA07A solid;
    border-radius: 10px !important;
  }
  
.Button {
    border: none;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  