.CardBody {
    padding: 0.75rem;
}

.WishlistText {
    font-weight: bold;
    margin: 0;
}


.Badge {
    background-color: #006566;
    color: #fff;
    padding: .5rem .8rem;
    font-size: 90%;
    max-width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.Badge:hover {
    background-color: #008080;
}

.CardShadow {
    margin: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
}