.DropdownItem {

    color: #006566
  }

.DropdownItem p {
    margin-bottom: 0.25rem;
}

.DropdownMenu {
    min-width: 7rem;
}

.DropdownItem:hover {
    background-color: #ffffff;
    color: #FFA07A;
}

.Absolute {
    position: absolute;
    z-index: 99;
  }

.DropdownRight {
    position: absolute;
    z-index: 99;
    right: 0;
}

.CommentIcon {
    color: #006566;
    font-size: 1.5rem;
    padding: 4px 6px;
}

.CommentIcon:hover {
  color: #01989b;
}