.NavBar {
    background-color: #fff;
    border-bottom: 2px solid #dadadf;
    padding: 0;
  }
  
  .NavLink {
    padding: 12px;
  }

  .NavLogo {
    padding: 8px;
  }
  
  .Active {
    background-color: #FFA07A;
  }

  .NavLogo:hover {
    background-color:#fff;
  }