.Review {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
.Review figure,
  h5 {
    margin: 0 0;
  }
  

.Heart {
    color: #006566;
    font-size: 1.5rem;
    padding: 4px
}

.HeartOutline:hover {
    color: #FFA07A;
  }

.LikesAndComments {
    font-size: 1.2rem;
    padding: 2px;
}

.CommentIcon {
    color: #006566;
    font-size: 1.5rem;
    padding: 4px;
}
