.App {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: #D3D3D3;
}

.Main {
    padding-top: 75px;
  }

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }

* {
    box-sizing: border-box;
  }
  
a {
    color: #008080;
  }

a:hover {
    text-decoration: none;
    color:#006566;
}

.BorderOrange {
    border-color:#FFA07A;
}

.Image {
  max-height: 35vh;
  max-width: 100%;
  object-fit: contain;
}
  
input[type="file"] {
  display: none;
}