.App {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: #D3D3D3;
}

.Main {
    padding-top: 71px;
  }


* {
    box-sizing: border-box;
  }
  
a {
    color: #008080;
    transition: color ease-in-out 0.3s;
  }
  
a:hover {
    color:#006566;
    text-decoration: none;
    background-color: #FFA07A;
  }
  
